{% extends "base.html" %}
<style>
    ul.navbarVer{
        border: 2px solid cadetblue;
    }
</style>
{% block content %}
    <div class="index">
        <h2 align="center">Welcome!</h2>
        <ul class="navbarVer">
          <li><p><a href="/displayQuiz">Let's start a driving quiz!</a></p></li>
          <li><p><a href="{{ url_for('signup') }}">Need register an admin account?</a></p></li>
          <li><p><a href="{{ url_for('login') }}">Already an admin? Log in here!</a></p></li>
          <li><p><a href= '/admin'> Change Question and Add User.(admin only)</a></p></li>
          <li><p><a href="{{ url_for('logout') }}"> Log out.</a> </p></li>
        </ul>
    </div>


{% endblock %}
